 <h1 class = "funds-h1">List of Funds</h1>
 <table class="funds-table">
  <thead>
    <tr>
      <th>Fund Name</th>
      <th>Change 1 Month</th>
      <th>Change 3 Months</th>
      <th>Change 3 Years</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of datas[0].data">
      <!--Cleans out data that has null values-->
      <ng-container *ngIf="data.change1m !== null && data.change3m !== null && data.change3y !== null">
      <td>{{ data.fundName }}</td>
      <td>{{ data.change1m }}</td>
      <td>{{ data.change3m }}</td>
      <td>{{ data.change3y }}</td>
    </ng-container>
    </tr>
  </tbody>
</table>
<div *ngIf="!datas || datas.length === 0">
  Loading data...
</div>
