.funds-table {
  margin: 0 auto; 
  border-collapse: collapse;
  border-spacing: 0;
}

.funds-table th, .funds-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.funds-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.funds-table tbody tr {
  background-color: #ffffff; 
}

.funds-table tbody tr:hover {
  background-color: #f2f2f2;
}

.funds-h1{
  text-align: center;
}