<!DOCTYPE html>
<html>
  <body>
    <h1 class="funds-h1">List of Funds</h1>
    <table
      class="funds-table"
      *ngIf="fundData$ | async as fundData; else loading"
    >
      <thead>
        <tr>
          <th>Fund Name</th>
          <th>Performance 1 Month</th>
          <th>Performance 3 Months</th>
          <th>Performance 3 Years</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of fundData">
          <td>{{ data.fundName }}</td>
          <td>{{ data.change1m }}</td>
          <td>{{ data.change3m }}</td>
          <td>{{ data.change3y }}</td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <div class="loading-funds">Loading data...</div>
    </ng-template>
  </body>
</html>
