.funds-table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.funds-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.funds-table th {
  background-color: #13b7b9;
  text-align: left;
}

.funds-table tbody tr {
  background-color: #ffffff;
}

.funds-h1 {
  text-align: center;
}

.loading-funds {
  text-align: center;
  padding-top: 20px;
}
